/* VARIABLES */
$baseline: 1.3rem;
//
// $minScreen: 20rem;
// $maxScreen: 50rem;
// $minFont: .8rem;
// $maxFont: 2rem;

$h1: 3rem;
$h2: 2.4rem;
$h3: 2rem;
$h4: 1.8rem;
$h5: 1.5rem;
$h6: 1.3rem;
$p: 1.1rem;
$footer: 1rem;
$figcaption: 1rem;

$border-radius: 5px;

$red: rgb(255, 0, 0);
$almost-red: rgba(255, 0, 0, 0.95);
$white: rgb(255, 255, 255);
$grey: rgb(156, 156, 156);
$green: rgb(24, 175, 117);
$darker-green: rgba(7, 52, 35, 0.9);
$dark-green: #04111f;

$transparent-dark-green: rgba(7, 52, 35, 0.45);
$semi-green: rgba(24, 175, 117, 0.675);
